<article class = "feed-item">
    <a class = "item-link" href= {{itemLink}}>
        <h2 class = "item-title">
            {{itemTitle}}
        </h2>
        <p class = "item-date">
            {{itemDate}}
        </p>
        <p class = "item-content">
            {{{itemContent}}}
        </p>
        <p class = "item-author">
            {{itemAuthor}}
        </p>
        <img src= {{imageUrl}}>
        </img>
    </a>
</article>
